<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- ############ Default Parameters ############ -->
  <arg name="gdb"                   default="" />

  <rosparam file="$(find terrain_simplification_ros)/config/config.yaml" subst_value="true"/>
  <rosparam file="$(find terrain_simplification_ros)/config/filter_chain.yaml" subst_value="true"/>
  
  <!-- ############ Main Node ############ -->
  <node 
    name="terrain_simplification_ros_node"
    pkg="terrain_simplification_ros"
    type="terrain_simplification_ros_node"
    output="screen"
    launch-prefix="$(arg gdb)"
    required="true"
    >
  </node>
</launch>

